.manuales {
    margin-bottom: 15rem;
}

main {
    margin: 9.8rem 0 0 0;
}

.titulo {
    margin-bottom: 2rem;
}

.report-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}
.report-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}
.report-card h2 {
    color: #666666;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.report-card ul {
    list-style-type: none;
    padding-left: 0;
}
.report-card ul li {
    margin-bottom: 10px;
}
.report-card ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}
.report-card ul li a:hover {
    color: #007bff;
}

.boton-li {
    border-style: none;
    background-color: white;
}

.manual-card {
    transition: transform 0.2s ease-in-out;
}
.manual-card:hover {
    transform: scale(1.05);
}

.boton-agregar {
    background-color: #00B207;
    border: none;
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 43px;
    transition: padding 0.3s ease;
    padding: 0.5rem 1rem;  /* Modificado para ser más adaptable */
}

.boton-agregar:hover {
    background-color: #008a06; /* Un color más oscuro para el hover */
}