<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>

    <link rel="stylesheet" href="../../resources/css/base/normalize.css">
    <link rel="stylesheet" href="../../resources/css/private/plantilla_nav.css">
    <link rel="stylesheet" href="../../resources//js/sweetalert.min.js">
    <link rel="stylesheet" href="../../resources/css/private/plantilla_footer.css">
    <link rel="stylesheet" href="../../resources/css/private/reportes.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="image/png" rel="icon" href="../../resources/img/logo.png">
</head>
<body>

    <header class="fixed-top">

    </header>

    <main class="container">
        <h1 class="text-center mb-4">Reportes</h1>


        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="report-card">
                    <h2>Reportes de Productos</h2>
                    <ul>
                        <li><a href="#">Distribución por categoría</a></li>
                        <li><a href="#">Top 5 productos más caros</a></li>
                        <li><a href="#">Productos con bajo stock</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="report-card">
                    <h2>Reportes de Ventas</h2>
                    <ul>
                        <li><a href="#">Ventas totales por mes</a></li>
                        <li><a href="#">Productos más vendidos</a></li>
                        <li><a href="#">Ventas por categoría</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="report-card">
                    <h2>Reportes de Clientes</h2>
                    <ul>
                        <li><a href="#">Pedidos por cliente</a></li>
                        <li><a href="#">Clientes más activos</a></li>
                        <li><a href="#">Evolución de registros</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="report-card">
                    <h2>Reportes de Administración</h2>
                    <ul>
                        <li><a href="#">Productos por administrador</a></li>
                        <li><a href="#">Servicios por administrador</a></li>
                        <li><a href="#">Comparativa productos vs servicios</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </main>

    <footer class="">

    </footer>
    

        <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>

    <!-- Plantillas -->
    <script src="../../resources/js/private/nav.js"></script>
    <script src="../../resources/js/private/footer.js"></script>

    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    
</body>
</html>