<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../../resources/css/public/contacto.css">
    <link rel="stylesheet" href="../../resources/css/base/normalize.css">
    <link rel="stylesheet" href="../../resources/css/public/plantilla_nav.css">
    <link type="image/png" rel="icon" href="../../resources/img/logo.png">
    <link rel="stylesheet" href="../../resources/css/public/plantilla_footer.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header class="fixed-top">
        
    </header>
    
    <main class="contenedor">
        <div class="contenedor-lateral">
            <img src="../../resources/img/public/Email.png" alt="Correo" loading="lazy" class="img-contact">
            <h6>alejandro.ayala.14@hotmail.com</h6>
    
            <span></span> 
    
            <img src="../../resources/img/public/PhoneCall.png" alt="Telefono" loading="lazy" class="img-contact">
            <h6>+503 7737-9967</h6>
        </div>
        
        <section class="contenedor-form">
            <h2>Contactanos!</h2>
            <p>¿Quieres contratar uno de nuestros servicios o tienes una consulta?. Ponte en contacto con nosotros.</p>
            <form action="" class="formulario">
                <input type="text" placeholder="Nombre...">
                <input type="email" placeholder="usuario@gmail.com...">
                <input type="text" placeholder="Asunto...">
                <textarea placeholder="Tu mensaje aquí..."></textarea>
    
                <button>
                    Enviar
                </button>
            </form>
        </section>
    </main>

    <footer>

    </footer>

    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    
    <script src="../../resources/js/public/nav.js"></script>
    <script src="../../resources/js/public/footer.js"></script>
</body>
</html>